<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户列表</title>
</head>
<body>
    <ul>
        <%for(var i in users){%>
            <li>姓名: <%=users[i].name%>
                <br>
                年龄: <%=users[i].age%>
                <br>
                特征: <%=users[i].trait%>
                <br>
                <br>
                <hr>
            </li>
             <!--<li><%=i%></li>
            <li><%=users[i]%></li> -->
        <%}%>
    </ul>
</body>
</html>